In [1]:
import boto3
import time
import pandas as pd
from io import StringIO

In [2]:
AWS_ACCESS_KEY = "AKIA3M7ACYVGMAD3NP6Y"
AWS_SECRET_KEY = "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"
AWS_REGION ="us-east-1"
SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://result-sai-bucket/output/"
S3_BUCKET_NAME = "result-sai-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [3]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id= AWS_ACCESS_KEY,
    aws_secret_access_key= AWS_SECRET_KEY,
    region_name= AWS_REGION,
)

In [4]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
)-> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_result.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id= AWS_ACCESS_KEY,
        aws_secret_access_key= AWS_SECRET_KEY,
        region_name= AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,)
    return pd.read_csv(temp_file_location)

In [5]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM enigma_jhud",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

In [6]:
response

{'QueryExecutionId': 'ee95a1ef-df84-4f62-adcb-b01c698d19b3',
 'ResponseMetadata': {'RequestId': 'bcb00c8c-fd9a-484f-93a9-5805900c345d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 09 Mar 2025 01:11:08 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'bcb00c8c-fd9a-484f-93a9-5805900c345d'},
  'RetryAttempts': 0}}

In [7]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [8]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM countypopulation",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

countypopulation = download_and_load_query_results(athena_client, response)

In [9]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM countrycode",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

countrycode = download_and_load_query_results(athena_client, response)

In [10]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [11]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM state_abv",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

state_abv = download_and_load_query_results(athena_client, response)
state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [12]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM states_daily",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

states_daily = download_and_load_query_results(athena_client, response)

In [13]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM us_county",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

us_county = download_and_load_query_results(athena_client, response)

In [14]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM us_daily",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

us_daily = download_and_load_query_results(athena_client, response)

In [15]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM us_states",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

us_states = download_and_load_query_results(athena_client, response)

In [16]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM us_total_latest",
    QueryExecutionContext = {"Database" : SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption" : "SSE_S3"},
    },
)

us_total_latest = download_and_load_query_results(athena_client, response)

In [17]:
us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [18]:
new_header = state_abv.iloc[0]

In [19]:
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [20]:
state_abv = state_abv[1:]

In [21]:
state_abv.columns = new_header

In [22]:
state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [23]:
factCovid_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'active']]
factCovid_2 = states_daily[['fips', 'date', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized', 'hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on ='fips',how = 'inner')

In [24]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [25]:
dimRegion_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion_2 = us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on ='fips', how='inner')

In [26]:
dimHospital = rearc_usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude', 'hq_address', 'hospital_name', 'hospital_type', 'hq_city','hq_state']]

In [27]:
dimDate = states_daily[['fips','date']]

In [28]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [29]:
dimDate['date'] = pd.to_datetime(dimDate['date'].astype(str))

print(dimDate)

      fips       date
0      2.0 2021-03-07
1      1.0 2021-03-07
2      5.0 2021-03-07
3     60.0 2021-03-07
4      4.0 2021-03-07
...    ...        ...
2680  49.0 2021-01-19
2681  51.0 2021-01-19
2682  78.0 2021-01-19
2683  50.0 2021-01-19
2684   NaN 2021-01-19

[2685 rows x 2 columns]

C:\Users\Saileshwar\AppData\Local\Temp\ipykernel_24348\734615649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'].astype(str))

In [30]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate["day_of_week"] = dimDate['date'].dt.dayofweek

C:\Users\Saileshwar\AppData\Local\Temp\ipykernel_24348\2445661104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\Saileshwar\AppData\Local\Temp\ipykernel_24348\2445661104.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\Saileshwar\AppData\Local\Temp\ipykernel_24348\2445661104.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate["day_of_week"] = dimDate['date'].dt.dayofweek

In [31]:
dimDate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [32]:
bucket = 'sai-covid-result'

In [33]:
csv_buffer = StringIO()

In [34]:
csv_buffer

In [35]:
factCovid.to_csv(csv_buffer)

In [36]:

s3_resource = boto3.resource(
    's3',
     aws_access_key_id= AWS_ACCESS_KEY,
     aws_secret_access_key= AWS_SECRET_KEY,
     region_name='us-east-1',
)

s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'CHZWTW5K1M9CA0Y3',
  'HostId': 'ysN8pfqm+BhjNX55tjevc7IxPJaeUXYBh/cGbYzuveO7MnEqLjIlsELDy05b39GJ1qGTjf/nnPc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ysN8pfqm+BhjNX55tjevc7IxPJaeUXYBh/cGbYzuveO7MnEqLjIlsELDy05b39GJ1qGTjf/nnPc=',
   'x-amz-request-id': 'CHZWTW5K1M9CA0Y3',
   'date': 'Sun, 09 Mar 2025 01:11:40 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"fab682fcb8c6be889f45a830afbf48ea"',
   'x-amz-checksum-crc32': 'iRCjig==',
   'x-amz-checksum-type': 'FULL_OBJECT',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"fab682fcb8c6be889f45a830afbf48ea"',
 'ChecksumCRC32': 'iRCjig==',
 'ChecksumType': 'FULL_OBJECT',
 'ServerSideEncryption': 'AES256'}

In [37]:

s3_resource = boto3.resource(
    's3',
     aws_access_key_id= AWS_ACCESS_KEY,
     aws_secret_access_key= AWS_SECRET_KEY,
     region_name='us-east-1',
)

s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'F9YRCCP4WP9RA908',
  'HostId': 'vneekZ1jv2qjjD/GynjDLzIQQaEKHlMrudndJu4/0QlUTCH0VnvjSfgrJdWiemAKsDE6O0b0s6k=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'vneekZ1jv2qjjD/GynjDLzIQQaEKHlMrudndJu4/0QlUTCH0VnvjSfgrJdWiemAKsDE6O0b0s6k=',
   'x-amz-request-id': 'F9YRCCP4WP9RA908',
   'date': 'Sun, 09 Mar 2025 01:11:41 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"fab682fcb8c6be889f45a830afbf48ea"',
   'x-amz-checksum-crc32': 'iRCjig==',
   'x-amz-checksum-type': 'FULL_OBJECT',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"fab682fcb8c6be889f45a830afbf48ea"',
 'ChecksumCRC32': 'iRCjig==',
 'ChecksumType': 'FULL_OBJECT',
 'ServerSideEncryption': 'AES256'}

In [38]:

s3_resource = boto3.resource(
    's3',
     aws_access_key_id= AWS_ACCESS_KEY,
     aws_secret_access_key= AWS_SECRET_KEY,
     region_name='us-east-1',
)

s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'TP141VTKBFJ2J1ZR',
  'HostId': 'OO/gC19HW59VFhw9L6uapQF91N8Yaw1dNFuZGBrY4P4HgVq3yjlDQ/3ORepAdfdzxhespd+allE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'OO/gC19HW59VFhw9L6uapQF91N8Yaw1dNFuZGBrY4P4HgVq3yjlDQ/3ORepAdfdzxhespd+allE=',
   'x-amz-request-id': 'TP141VTKBFJ2J1ZR',
   'date': 'Sun, 09 Mar 2025 01:11:42 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"fab682fcb8c6be889f45a830afbf48ea"',
   'x-amz-checksum-crc32': 'iRCjig==',
   'x-amz-checksum-type': 'FULL_OBJECT',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"fab682fcb8c6be889f45a830afbf48ea"',
 'ChecksumCRC32': 'iRCjig==',
 'ChecksumType': 'FULL_OBJECT',
 'ServerSideEncryption': 'AES256'}

In [39]:

s3_resource = boto3.resource(
    's3',
     aws_access_key_id= AWS_ACCESS_KEY,
     aws_secret_access_key= AWS_SECRET_KEY,
     region_name='us-east-1',
)

s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'MZDWWDGGCSB34RB0',
  'HostId': 'YOCKdh83rHV5t5/q+XTt+BRTmzYhs0BI8yfMUPuMt0XNO/8heF26u8QlDEn+G8Dy+IudCNAg384=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'YOCKdh83rHV5t5/q+XTt+BRTmzYhs0BI8yfMUPuMt0XNO/8heF26u8QlDEn+G8Dy+IudCNAg384=',
   'x-amz-request-id': 'MZDWWDGGCSB34RB0',
   'date': 'Sun, 09 Mar 2025 01:11:44 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"fab682fcb8c6be889f45a830afbf48ea"',
   'x-amz-checksum-crc32': 'iRCjig==',
   'x-amz-checksum-type': 'FULL_OBJECT',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"fab682fcb8c6be889f45a830afbf48ea"',
 'ChecksumCRC32': 'iRCjig==',
 'ChecksumType': 'FULL_OBJECT',
 'ServerSideEncryption': 'AES256'}

In [40]:
dimDatesql= pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [41]:
factCovidsql= pd.io.sql.get_schema(factCovid.reset_index(), 'factCocid')
print(''.join(factCovidsql))

CREATE TABLE "factCocid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [42]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [43]:
dimHospitalsql= pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [44]:
!pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\saileshwar\anaconda3\lib\site-packages (2.1.5)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (2024.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (4.12.3)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (1.37.4)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (2.32.3)
Requirement already satisfied: lxml>=4.6.5 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (5.2.1)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (1.37.4)
Requirement already satisfied: packaging in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (24.1)
Requirement already satisfied: setuptools in c:\users\saileshwar\anaconda3\lib\site-packages (from redshift_connector) (75.1.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\saileshwar\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\saileshwar\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.12.0,>=0.11.0 in c:\users\saileshwar\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.11.3)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\saileshwar\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\saileshwar\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saileshwar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saileshwar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saileshwar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2024.12.14)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\saileshwar\anaconda3\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in c:\users\saileshwar\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

In [45]:
import redshift_connector

In [46]:
conn = redshift_connector.connect(
    host = 'redshift-cluster-1.cfrq7akbb5tz.us-east-1.redshift.amazonaws.com',
    database= 'dev',
    user = 'awsuser',
    password= 'Rawsai_001',
)

In [47]:
conn.autocommit = True

In [48]:
cursor = redshift_connector.Cursor = conn.cursor()

In [49]:
cursor.execute("""
CREATE TABLE "factCocid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [50]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [51]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [52]:
cursor.execute("""
copy dimHospital from 's3://sai-covid-result/output/dimHospital.csv'
IAM_ROLE 'arn:aws:iam::783764604236:role/redshift-s3-access'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

ProgrammingError: {'S': 'ERROR', 'C': 'XX000', 'M': "Load into table 'dimhospital' failed.  Check 'stl_load_errors' system table for details.", 'F': '/opt/brazil-pkg-cache/packages/RedshiftPADB/RedshiftPADB-1.0.8470.0/AL2_x86_64/generic-flavor/src/src/pg/src/backend/commands/commands_copy.c', 'L': '797', 'R': 'CheckMaxRowError'}